<package-def>
    <module name="ОблакоYC" file="src/Модули/ОблакоYC.os"/>
    <module name="ПодключениеYC" file="src/Модули/ПодключениеYC.os"/>
    <module name="ТипыДисковYC" file="src/Модули/ТипыДисковYC.os"/>
    <class name="ВиртуальнаяМашинаYC" file="src/Классы/ВиртуальнаяМашинаYC.os"/>
</package-def>